 body {
     /* max-width: 950px; */
     /* margin: auto; */
     background-color: rgb(153, 9, 9);
 }

 .title {
     background-color: rgb(153, 9, 9);
     text-align: center;
 }

 nav {
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 a {
     color: white;
     list-style-type: none;
     text-decoration: none;
     margin-left: 45px;
 }

 .nav-img {
     width: 150px;
 }

 .nav-bar {
     margin-top: 20px;
 }

 main {
     display: grid;
     grid-template-columns: 1fr 4fr 1fr;
 }

 aside {
     color: rgb(233, 91, 17);
     text-decoration-line: underline;
     background-color: rgb(125, 9, 9);
     margin-left: 2px;

 }

 li {
     list-style-type: none;
     text-decoration: none;
 }

 article {
     color: white;
 }

 section {
     background-color: rgb(227, 221, 221);
 }

 .aside-title {
     background-color: rgb(189, 189, 189);
     text-align: center;
     margin: 0;
 }

 hr {
     width: 50px;
 }

 footer {
     background-color: rgb(233, 91, 17);
     color: white;
     text-align: center;
 }